<div class="user">
  <h1>Crear Nuevo Usuario</h1>
  <hr>
  <div class="container-user">
    <div class="row">
      <div class="col button-user">
        <button routerLink="/users" class="btn btn-danger">
          <i class="fa fa-arrow-left"></i>
          Regresar
        </button>
      </div>
    </div>
    <div class="row animated fadeInUp animated">
      <div class="col">
        <form [formGroup]="userForm" (ngSubmit)="addUser()">
          <div class="form-group">
            <label for="id">FireBase ID</label>
            <input  placeholder="MongoID"
              name="id"
              type="text"
              disabled="disabled"
              class="form-control w-50"
              id="id">
            <small class="form-text">Este campo es autogenerado</small>
          </div>
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input
              type="text"
              formControlName="name"
              name="name"
              class="form-control w-50"
              id="name"
              placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="document">Documento de Identificación: </label>
            <input type="text" class="form-control w-50" name="document" id="document" formControlName="document" placeholder="Documento ID">
          </div>
          <div class="form-group">
            <label for="cellphone">Celular:</label>
            <input type="text" class="form-control w-50" name="cellphone" formControlName="cellphone" id="cellphone" placeholder="Celular">

          </div>
          <div class="form-group">
            <label for="city">Ciudad:</label>
            <input type="text" class="form-control w-50" formControlName="city" name="city" id="city" placeholder="Ciudad">

          </div>
          <div class="form-group">
            <label for="address">Dirección:</label>
            <input type="text" class="form-control w-50" formControlName="address" name="address" id="address" placeholder="Dirección">

          </div>
          <!-- <div class="form-check">
            <input class="form-check-input" formControlName="status" type="radio" name="status">
            <label class="form-check-label" for="status">
              Activo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="status" type="radio" name="status">
            <label class="form-check-label" for="status">
              Inactivo
            </label>
          </div> -->
          <!-- <div class="form-group">
            <label>Estado</label>
            <br/>
            <button

              type="button"
              class="btn btn-outline-success w-25"
              id="name" placeholder="Nombre">
              <i class="fa fa-smile-wink"></i>
              Activo
            </button>
            <ng-template #deadBlock>
              <button  type="button"
                class="btn btn-outline-danger w-50",
                id="name"
                placeholder="Nombre">
                <i class="fa fa-dizzy"></i>
                Activo
              </button>
            </ng-template>
          </div> -->
          <div  class="form-group text-center">
            <button class="btn btn-primary w-50 " type="submit">
              <i class="fa fa-save"></i>
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

